.form{
	.input-field,
	textarea,
	.select-field select,
	input[type="date"]{
		border: 1px solid #a3a3a3;
		appearance: none;
		background: #fff;
		border-radius: 5px;
		flex: auto;
		height: 51px;
		font-size: 16px;
		color: $text-color;
		font-family: $main-font;
		font-weight: 400;
		padding: 0 15px;
		outline: none !important;
		transition: all $t;
		width: 100%;
		appearance: none;
		// max-width: 260px;

		&[readonly]{
			color: rgba($text-color, .3);
		}

		&::placeholder{
			color: #6D8092;
			opacity: 1;
			transition: all $t;
		}

		&:focus:not([readonly]){
			border-color: $primary;

			&::placeholder{
				opacity: 1;
			}
		}

		@media screen and (max-width: 767px){
			font-size: 14px;
			height: 38px;
			padding: 0 12px;
		}
	}

	.input-field,
	textarea{
	}

	input[type="date"]{
		appearance: none;
		border-radius: 2px;
	}

	textarea{
		resize: none;
		padding: 10px 15px;
		height: 178px;
		display: block;
	}
}

.checkbox{
	position: relative;

	.fake-label{
		font-size: 18px;
		line-height: 1.222;
		color: rgba(#000, .7);
		padding-left: 54px;
		cursor: pointer;
		font-weight: 400;
		display: block;
		text-transform: capitalize;

		&:before{
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			border-radius: $r;
			background: transparent;
			border: 1px solid rgba(#000, .6);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}

		&:after{
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3E%3Cpath d='M3.83 7.74a.5.5 0 01-.72 0L.22 4.85a.77.77 0 010-1.08L.6 3.4c.3-.3.78-.3 1.08 0l1.8 1.8L8.33.34c.3-.3.79-.3 1.08 0l.37.37c.3.3.3.78 0 1.08L3.83 7.74z' fill='%23242424'/%3E%3C/svg%3E") no-repeat center center / contain;
			background-size: 15px 12px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			opacity: 0;
			transition: all $t;
		}
	}

	input:checked + .fake-label:after{
		opacity: 1;
	}

	input:checked + .fake-label:before{
		background: $accent;
	}
}

.select-field{
	position: relative;

	&:after{
		content: '';
		display: block;
		width: 10px;
		height: 6px;
		background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%234C4A58'/%3E%3C/svg%3E") no-repeat center center / contain;
		position: absolute;
		right: 13px;
		top: calc(50% - 3px);
	}

	select{
		appearance: none;
		border: 1px solid $gray;
		padding: 9px 27px 9px 14px;
		border-radius: $r;
		color: $text-color;
		font-size: 16px;
		line-height: 1.25;
		font-family: inherit;
		display: block;
		width: 100%;
		box-shadow: none;
		cursor: pointer;

		&:focus{
			outline: none;
			// border-color: $accent;
		}
	}

	&.language-select{
		width: 65px;
		text-transform: uppercase;
	}
}

.form{
	.form-row{
		margin-bottom: 24px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.form-label{
		font-size: 18px;
		line-height: 1.222;
		color: rgba(#000, .7);
		margin-bottom: 8px;
	}
}