.breadcrumbs-section{
	padding: 24px 0;
	position: relative;
	z-index: 2;
}

.breadcrumbs-list{
	display: flex;
	flex-wrap: wrap;

	li{
		&:after{
			content: ' / ';
			color: $primary;

			.gold &{
				color: $accent;
			}
		}

		a{
			color: $primary;

			&:hover,
			&:focus{
				text-decoration: underline;
			}

			.gold &{
				color: $accent;
			}
		}

		&:last-child{
			&:after{
				display: none;
			}

			a{
				cursor: default;
				pointer-events: none;
				color: #000;
			}
		}
	}
}