.dark-testimonials-section{
	position: relative;
	color: #fff;
	padding: 100px 0 180px;

	.section-bg{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		min-width: 1920px;
		top: 0;
		pointer-events: none;
		background: $dark;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), calc(100% - 545px) 100%, 0 calc(100% - 75px));

		.lines{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;

			img{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				object-fit: contain;
				object-position: center center;
			}
		}
	}

	.container{
		position: relative;
		z-index: 2;
	}

	@media screen and (max-width: 991px){
		.cards-list{
			margin-bottom: -50px;

			.item{
				margin-bottom: 50px;
			}
		}
	}
}

.small-testimonial-card{
	display: flex;
	align-items: center;

	.card-image{
		flex: none;
		margin-right: 24px;

		img{
			width: 100px;
			height: 100px;
			object-fit: cover;
			object-position: center center;
			border-radius: 50%;
			display: block;
		}
	}

	.card-text{
		font-size: 24px;
		margin-bottom: 8px;
	}

	.card-author{
		font-weight: bold;
		font-size: 18px;
		line-height: 1.222;
		font-family: $second-font;
	}

	@media screen and (max-width: 1199px){
		align-items: flex-start;
	}

	@media screen and (max-width: 991px){
		align-items: center;
	}

	@media screen and (max-width: 575px){
		flex-direction: column;
		align-items: center;
		text-align: center;

		.card-image{
			margin-bottom: 16px;
			margin-right: 0;
		}
	}
}