.first-screen-section{
	position: relative;
	padding: 124px 0 65px;
	// background: #eeedef;
	color: #fff;
	z-index: 2;

	.section-bg{
		width: 100%;
		min-width: 1920px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		clip-path: polygon(100% 0, 100% calc(100% - 180px), 380px 100%, 0 calc(100% - 180px), 0 0);

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: #000;
			opacity: .86;
		}

		img{
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center center;
		}

		.lines{
			// background: url(../img/decorations/first-screen-lines.svg) no-repeat center center / cover;
			width: 100%;
			min-width: 2050px;
			height: calc(100% + 50px);
			position: absolute;
			left: 50%;
			// transform: translateX(-50%);
			margin-left: calc(-2050px / 2);
			top: 0;
			pointer-events: none;
			z-index: 2;
			// clip-path: polygon(100% 0, 100% calc(100% - 180px), 380px 100%, 0 calc(100% - 180px), 0 0);

			img{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				object-fit: cover;
				object-position: center center;
			}
		}
	}

	&.no-bg{
		background: transparent;
	}

	.container{
		position: relative;
		z-index: 2;
	}

	.section-slider{
		padding-top: 82px;
	}

	.section-inner{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.section-slider{
		width: 100%;
		max-width: 620px;
		margin-right: 40px;
		position: relative;
		z-index: 10;
	}

	.section-features{
		position: relative;
		width: 100%;
		max-width: 300px;

		.item{
			position: relative;
			margin-bottom: 24px;
			color: #fff;
			padding: 18px 32px;
			z-index: 1;
			font-size: 24px;
			line-height: 1.208;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 152px;
			visibility: hidden;

			&.animated{
				visibility: visible;
			}

			strong{
				display: block;
				font-family: $second-font;
				margin-bottom: 4px;
				font-weight: 900;
				text-align: center;
				font-size: 48px;
				line-height: 1.208;
				letter-spacing: 0.08em;

				&:last-child{
					margin-bottom: 0;
					margin-top: 3px;
				}
			}

			@media screen and (max-width: 767px){
				font-size: 20px;

				strong{
					font-size: 40px;
				}
			}

			@media screen and (max-width: 575px){
				font-size: 16px;

				strong{
					font-size: 36px;
				}
			}

			&:before{
				content: '';
				display: block;
				width: 50vw;
				height: 100%;
				background: $dark;
				border-radius: $r 0 0 $r;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
			}

			&:last-child{
				margin-bottom: 0;
			}

			&:nth-child(even){
				z-index: 3;
			}
		}
	}

	@media screen and (max-width: 1199px){
		.section-slider{
			max-width: 545px;
			margin-right: 65px;
		}
	}

	@media screen and (max-width: 991px){
		padding: 88px 0 82px;

		.sc-subtitle{
			max-width: 400px;
		}

		.section-slider{
			max-width: 450px;
			margin-right: 30px;
		}

		.section-features{
			.lines{
				right: -495px;
				clip-path: polygon(100% 0, 100% calc(100% - 180px), 615px 100%, 0 calc(100% - 180px), 0 0);
			}

			.item{
				// padding-left: 20px;
				padding-right: 0;
			}
		}

		.section-bg{
			clip-path: polygon(100% 0, 100% calc(100% - 180px), 615px 100%, 0 calc(100% - 180px), 0 0);
		}
	}

	@media screen and (max-width: 767px){
		padding-bottom: 20px;
		padding-top: 170px;

		.section-inner{
			flex-direction: column;
			text-align: center;
			align-items: center;
		}

		.section-bg{
			clip-path: polygon(100% 0, 100% calc(100% - 180px), 715px 100%, 0 calc(100% - 180px), 0 0);
		}

		.section-features{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			margin-bottom: -30px;
			max-width: unset;
			margin-top: 50px;
			
			.item{
				width: calc(50% - 15px);
				margin-bottom: 30px !important;
				padding: 25px 30px !important;
				z-index: 5;

				&:nth-child(odd){
					// padding-left: 0;
					// padding-right: 30px;

					&:before{
						left: auto;
						right: 0;
						border-radius: 0 $r $r 0;
					}
				}
			}

			.lines{
				top: -645px;
				right: -690px;
				clip-path: polygon(100% 0, 100% calc(100% - 180px), 715px 100%, 0 calc(100% - 180px), 0 0);
			}
		}

		.section-caption{
			text-align: center !important;
			max-width: 332px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 24px;

			.sc-title{
				letter-spacing: 0;
			}
		}

		.section-slider{
			padding-top: 0;
			margin-right: 0;
			max-width: unset;
		}
	}

	@media screen and (max-width: 575px){
		padding-top: 60px;

		.section-features{
			margin-bottom: -20px !important;

			.item{
				width: calc(50% - 10px);
				margin-bottom: 20px !important;
				padding: 15px !important;
				min-height: 120px;
			}
		}
	}

	@media screen and (max-width: 374px){
		.section-features{
			.item{
				font-size: 14px;

				strong{
					font-size: 28px;
				}
			}
		}
	}
}

.first-screen-slider-wrapper{
	.slider-nav{
		display: flex;
		align-items: center;
		margin-top: calc(110px - 30px);

		.slick-arrow{
			position: static !important;
			transform: translateY(0);

			&.slick-prev{
				order: 1;
				margin-right: 20px;
			}

			&.slick-next{
				order: 3;
			}
		}

		.slick-dots{
			width: auto;
			order: 2;
			margin-right: 20px;
			position: static;
		}

		@media screen and (max-width: 767px){
			margin-top: calc(100px - 30px);
			justify-content: space-between;
		}
	}

	.section-links{
		display: flex;

		.btn{
			margin-right: 40px;
			padding-left: 24px;
			padding-right: 24px;

			&:last-child{
				margin-right: 0;
			}

			@media screen and (max-width: 1199px){
				margin-right: 26px;
				font-size: 16px;

				small{
					font-size: 14px;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		.section-links{
			flex-direction: column;
			align-items: flex-start;

			.btn{
				margin-right: 0;
				margin-bottom: 28px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		.section-links{
			align-items: center;

			.btn{
				margin-bottom: 16px;
			}
		}
	}
}