.our-values-section{
	padding: 100px 0 60px;

	.section-caption{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 33px;

		.sc-title{
			max-width: 590px;
		}

		.sc-subtitle{
			max-width: 770px;
		}
	}

	@media screen and (max-width: 767px){
		.section-caption{
			.sc-subtitle{
				font-size: 16px;
				max-width: 490px;
			}
		}
	}
}

.values-list{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 85px * 2);
	margin-left: -85px;
	margin-right: -85px;
	margin-bottom: -32px;
	
	.item{
		width: 50%;
		padding: 0 85px;
		margin-bottom: 32px;
	}

	@media screen and (max-width: 1199px){
		width: calc(100% + 65px * 2);
		margin-left: -65px;
		margin-right: -65px;
		margin-bottom: -50px;
		
		.item{
			padding: 0 65px;
			margin-bottom: 50px;
		}
	}

	@media screen and (max-width: 991px){
		width: calc(100% + 15px * 2);
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: -32px;
		
		.item{
			padding: 0 15px;
			margin-bottom: 32px;
		}
	}

	@media screen and (max-width: 499px){
		.item{
			width: 100%;
		}
	}
}

.value-card{
	.card-image{
		width: 100px;
		height: 100px;
		display: flex;
		align-items: flex-end;
		margin-bottom: 16px;

		img{
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.card-caption{
		margin-bottom: 8px;
	}
}