.pre-footer-section{
	padding: 166px 0 55px;
	position: relative;

	&:before{
		content: '';
		display: block;
		width: 100%;
		min-width: 1920px;
		height: 100%;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		background: #eeedef url(../img/decorations/pre-footer-lines.svg) no-repeat center center / cover;
		clip-path: polygon(calc(100% - 475px) 0, 100% 90px, 100% 100%, 0 100%, 0 90px);
	}

	.container{
		position: relative;
		z-index: 2;
	}

	.section-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.section-content{
		flex: auto;
		margin-right: 50px;
	}

	.section-button{
		flex: none;
	}

	@media screen and (max-width: 1199px){
		.section-content{
			max-width: 560px;
		}
	}

	@media screen and (max-width: 991px){
		padding: 110px 0;

		&:before{
			left: 69%;
			transform: translateX(-50%) scale(-1, 1);
		}

		.section-inner{
			flex-direction: column;
			align-items: flex-start;
		}

		.section-content{
			margin-right: 0;
			margin-bottom: 32px;
		}

		.section-button{}
	}

	@media screen and (max-width: 767px){
		padding: 124px 0;

		&:before{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			min-width: 768px;
			background: #eeedef url(../img/decorations/pre-footer-lines-mobile.svg) no-repeat center center / cover;
			clip-path: polygon(205px 0, 100% 40px, 100% 100%, 0 100%, 0 40px);
		}

		.section-inner{
			align-items: center;
		}

		.section-caption{
			text-align: center !important;
		}
	}
}